:root {
  --color-background: #fafafa;
  --color-message: #171717;
  --color-message-link: hotpink;
  --color-map-stroke: #444444;
  --color-map-visited: green;
  --color-map-unvisited: red;
}

body {
	background-color: var(--color-background);
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

.header {
	color: var(--color-message);
	display: inline-block;
	margin: 24px;
}

.header__title {
	margin: 0;
}

.header__explainer {
	margin: 0;
	margin-top: 8px;
}

.header__explainer a {
	color: var(--color-message-link);
}

.map-container {
	position: fixed;
	top: 1vh;
	left: 1vw;
	width: 98vw;
	height: 98vh;
	text-align: center;
	z-index: -1;
}

.map-container svg {
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	/*	SHONK: easier than correcting the svg viewbox */
	/*	margin-left: -12.5%;*/
}

.county {
	fill: var(--color-map-unvisited);
	fill: var(--color-map-background);
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke: var(--color-map-stroke);
	stroke-width: 0.75;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none
}

.county--visited {
	fill: var(--color-map-visited);
}
