/*VARIABLES*/
:root {
  --color-background: #D9E1FF;
  --color-message: #020325;
  --color-message-alt: #4B4C6C;
  --color-message-link: #FF419C;
  --color-map-unvisited-fill: #F46060;
  --color-map-unvisited-stroke: #9D3131;
  --color-map-visited-fill: #179F66;
  --color-map-visited-stroke: #006A3E;
}

/*PAGE*/
body {
	background-color: var(--color-background);
	font-family: "Inter", sans-serif;
	padding: 0;
	margin: 0;
}

/*HEADER*/
.header {
	color: var(--color-message);
	display: inline-block;
	margin: 24px;
}

.header__title {
	margin: 0;
	font-weight: 700;
}

.header__explainer {
	margin: 0;
	margin-top: 8px;
	color: var(--color-message-alt);
}

.header__explainer a {
	color: var(--color-message-link);
}

/*MAP*/
.map-container {
	position: fixed;
	top: 1vh;
	left: 1vw;
	width: 98vw;
	height: 98vh;
	text-align: center;
	z-index: -1;
}

.map-container svg {
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
}

.county {
	fill: var(--color-map-unvisited-fill);
	stroke: var(--color-map-unvisited-stroke);
	stroke-width: 0.75;
	fill-opacity: 1;
	fill-rule: evenodd;
	stroke-linejoin: round;
	stroke-miterlimit: 4;
	stroke-dasharray: none
}

.county--visited {
	fill: var(--color-map-visited-fill);
	stroke: var(--color-map-visited-stroke);
}
